/* https://colorhunt.co/palette/213416 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.row [class*="col-"] {
  grid-column: span 12;
  margin: 10px 0;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.brand-link {
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  color: #ff9642;
}
.searchbox-wrapper {
  background: linear-gradient(to bottom, rgba(255, 150, 66, 0.2), #ff9642 70%);
  border: 1px solid rgb(255, 150, 66, 0.55);
  padding: 9px;
  display: flex;
  align-items: center;
  min-height: 60px;
}
.searchForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.searchForm button {
  display: inline-block;
  margin: 5px 0 0 auto;
  background: #444;
  border: 0;
  padding: 7px 14px;
  color: #fff;
  border-radius: 4px;
  height: 30px;
  cursor: pointer;
}
.searchForm input {
  font-size: 18px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #000;
}
.searchForm label {
  flex-grow: 1;
  max-width: 221px;
  margin-top: 5px;
}
.nav {
  color: #fff;
  background: linear-gradient(to bottom, rgba(255, 150, 66, 0.2), #ff9642 70%);
  border: 1px solid rgb(255, 150, 66, 0.55);
}
.nav li {
  display: block;
  text-align: center;
  list-style: none;
}
.nav .nav-link {
  text-decoration: none;
  color: #000;
  padding: 20px 40px;
  display: block;
  transition: background 0.3s;
}
.nav .nav-link:hover {
  background: #fff;
  color: #e0873f;
}
.hero-wrapper {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("../img/mathematics-3821034_1280.jpg") no-repeat;
  color: #fff;
  min-height: 70vh;
  padding: 30px 45px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.hero-content .title {
  color: #ff9642;
  font-size: 55px;
  margin-top: 5%;
  text-shadow: 0 0 11px black;
  max-width: 600px;
}
.hero-content p {
  font-size: 20px;
  line-height: 1.5;
  max-width: 80%;
  text-shadow: 0 0 3px black;
}
.goto-wrapper,
.whyUs-wrapper {
  padding: 12px 40px 34px;
  border: 12px solid #ff9642;
  border-radius: 7px;
  background: #fff8cd;
  height: 100%;
}
.goto-wrapper .title,
.whyUs-wrapper .title {
  color: #000;
  font-size: 45px;
  margin-bottom: 15px;
}
.lessons-list .item {
  list-style: none;
}
.lessons-list .item a {
  background: #444;
  color: #fff;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  font-size: 21px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 2px solid transparent;
  transition: background 0.3s;
}
.lessons-list .item a:hover {
  color: #444;
  background: transparent;
  border-color: #444;
}
.whyUs-list {
  margin-top: 80px;
}
.whyUs-list .item {
  font-size: 30px;
  list-style: none;
  line-height: 1.2;
  margin-bottom: 20px;
  padding: 0 20px 0 50px;
  position: relative;
}
.whyUs-list .item:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 10px;
  top: 0px;
  left: -5px;
  border: 7px solid transparent;
  border-bottom-color: #ff9642;
  border-left-color: #ff9642;
  border-radius: 5px;
  transform: rotate(-45deg);
}
footer {
  background: #444;
  color: #fff;
  padding: 30px 50px;
  text-align: center;
}
@media all and (min-width: 769px) {
  .row .col-1 {
    grid-column: span 1;
  }
  .row .col-2 {
    grid-column: span 2;
  }
  .row .col-3 {
    grid-column: span 3;
  }
  .row .col-4 {
    grid-column: span 4;
  }
  .row .col-5 {
    grid-column: span 5;
  }
  .row .col-6 {
    grid-column: span 6;
  }
  .row .col-7 {
    grid-column: span 7;
  }
  .row .col-8 {
    grid-column: span 8;
  }
  .row .col-9 {
    grid-column: span 9;
  }
  .row .col-10 {
    grid-column: span 10;
  }
  .row .col-11 {
    grid-column: span 11;
  }
  .row .col-12 {
    grid-column: span 12;
  }
  .goto-wrapper {
    margin-right: 10px;
  }
  .whyUs-wrapper {
    margin-left: 10px;
  }
  .nav li,
  .nav .nav-link {
    display: inline-block;
  }
}
