* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.row .col-1 {
  grid-column: span 1;
}
.row .col-2 {
  grid-column: span 2;
}
.row .col-3 {
  grid-column: span 3;
}
.row .col-4 {
  grid-column: span 4;
}
.row .col-5 {
  grid-column: span 5;
}
.row .col-6 {
  grid-column: span 6;
}
.row .col-7 {
  grid-column: span 7;
}
.row .col-8 {
  grid-column: span 8;
}
.row .col-9 {
  grid-column: span 9;
}
.row .col-10 {
  grid-column: span 10;
}
.row .col-11 {
  grid-column: span 11;
}
.row .col-12 {
  grid-column: span 12;
}

@media all and (max-width: 769px) {
  .row [class*="col-"] {
    grid-column: span 12;
  }
}
